In [1]:
import pandas as pd
import pyodbc


conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-J35LO566\\SQLEXPRESS;'
    'DATABASE=DataWarehouseAnalytics;'
    'Trusted_Connection=yes;'
)

In [2]:
query ="""
WITH customer_orders AS (
    SELECT 
        c.customer_key,
        c.customer_number,
        c.country,
        CONCAT(c.first_name ,' ', c.last_name) AS customer_name,
        DATEDIFF(YEAR, c.birthdate, GETDATE()) AS customer_age,
        MIN(s.order_date) AS first_order_date,
        MAX(s.order_date) AS last_order_date,
        COUNT(DISTINCT s.order_number) AS total_orders,
        SUM(s.sales_amount) AS total_spending,
        SUM(s.quantity) AS total_quantity,
        COUNT(DISTINCT s.product_key) AS total_products
    FROM [gold.fact_sales] s 
    LEFT JOIN [gold.dim_customers] c ON s.customer_key = c.customer_key 
    GROUP BY 
        c.customer_key,
        c.customer_number,
        c.first_name,
        c.last_name,
        c.birthdate,
        c.country
),
customer_segments AS (
    SELECT 
        customer_key,
        customer_number,
        customer_name,
        country,
        customer_age,
        first_order_date,
        last_order_date,
        total_orders,
        total_spending,
        total_quantity,
        total_products,
        DATEDIFF(month, last_order_date, GETDATE()) AS recency_in_months,
        DATEDIFF(month, first_order_date, GETDATE()) AS Lifespan_in_months,
        CASE 
            WHEN DATEDIFF(month, first_order_date, GETDATE()) = 0 THEN 0 
            ELSE total_spending / DATEDIFF(month, first_order_date, GETDATE())
        END AS avg_monthly_revenue,
        CASE 
            WHEN total_orders = 0 THEN 0
            ELSE total_spending / total_orders
        END AS avg_order_value
    FROM customer_orders
)
SELECT 
    customer_key,
    customer_number,
    customer_name,
    country,
    customer_age,
    first_order_date,
    last_order_date,
    total_orders,
    total_spending,
    total_quantity,
    total_products,
    recency_in_months,
    Lifespan_in_months,
    avg_monthly_revenue,
    avg_order_value,
    CASE 
        WHEN customer_age < 20 THEN 'under_20'
        WHEN customer_age BETWEEN 21 AND 30 THEN '21_30'
        WHEN customer_age BETWEEN 31 AND 40 THEN '31_40'
        WHEN customer_age BETWEEN 41 AND 50 THEN '41_50'
        WHEN customer_age BETWEEN 51 AND 60 THEN '51_60'
        ELSE 'above_60'
    END AS age_group,
    CASE 
        WHEN recency_in_months <= 1 THEN 'Active_customer' 
        WHEN recency_in_months BETWEEN 2 AND 3 THEN 'medium_active_customer'
        ELSE 'low_active_customer'
    END AS customer_activity,
    CASE 
        WHEN total_spending > AVG(total_spending) OVER () THEN 'high_spender'
        WHEN total_spending = AVG(total_spending) OVER () THEN 'Normal_spender'
        ELSE 'below_AVG'
    END AS spending_segment
FROM customer_segments ; 


"""

In [6]:

df = pd.read_sql(query, conn)
df.head(50)

C:\Users\joo\AppData\Local\Temp\ipykernel_6060\1109215751.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,customer_key,customer_number,customer_name,country,customer_age,first_order_date,last_order_date,total_orders,total_spending,total_quantity,total_products,recency_in_months,Lifespan_in_months,avg_monthly_revenue,avg_order_value,age_group,customer_activity,spending_segment
0,1,AW00011000,Jon Yang,Australia,54.0,2011-01-19,2013-05-03,3,8249,8,8,149.0,177.0,46.0,2749,51_60,low_active_customer,high_spender
1,2,AW00011001,Eugene Huang,Australia,49.0,2011-01-15,2013-12-10,3,6384,11,10,142.0,177.0,36.0,2128,41_50,low_active_customer,high_spender
2,3,AW00011002,Ruben Torres,Australia,54.0,2011-01-07,2013-02-23,3,8114,4,4,152.0,177.0,45.0,2704,51_60,low_active_customer,high_spender
3,4,AW00011003,Christy Zhu,Australia,52.0,2010-12-29,2013-05-10,3,8139,9,9,149.0,178.0,45.0,2713,51_60,low_active_customer,high_spender
4,5,AW00011004,Elizabeth Johnson,Australia,46.0,2011-01-23,2013-05-01,3,8196,6,6,149.0,177.0,46.0,2732,41_50,low_active_customer,high_spender
5,6,AW00011005,Julio Ruiz,Australia,49.0,2010-12-30,2013-05-02,3,8121,6,6,149.0,178.0,45.0,2707,41_50,low_active_customer,high_spender
6,7,AW00011006,Janet Alvarez,Australia,49.0,2011-01-24,2013-05-14,3,8119,5,5,149.0,177.0,45.0,2706,41_50,low_active_customer,high_spender
7,8,AW00011007,Marco Mehta,Australia,56.0,2011-01-09,2013-03-19,3,8211,8,8,151.0,177.0,46.0,2737,51_60,low_active_customer,high_spender
8,9,AW00011008,Rob Verhoff,Australia,50.0,2011-01-25,2013-03-02,3,8106,7,7,151.0,177.0,45.0,2702,41_50,low_active_customer,high_spender
9,10,AW00011009,Shannon Carlson,Australia,56.0,2011-01-27,2013-05-09,3,8091,5,5,149.0,177.0,45.0,2697,51_60,low_active_customer,high_spender
10,11,AW00011010,Jacquelyn Suarez,Australia,56.0,2011-01-14,2013-05-23,3,8088,4,4,149.0,177.0,45.0,2696,51_60,low_active_customer,high_spender
11,12,AW00011011,Curtis Lu,Australia,56.0,2010-12-30,2013-03-19,3,8133,4,4,151.0,178.0,45.0,2711,51_60,low_active_customer,high_spender
12,13,AW00011012,Lauren Walker,United States,46.0,2013-03-16,2013-10-15,2,81,5,5,144.0,151.0,0.0,40,41_50,low_active_customer,below_AVG
13,14,AW00011013,Ian Jenkins,United States,46.0,2013-04-13,2014-01-21,2,114,5,5,141.0,150.0,0.0,57,41_50,low_active_customer,below_AVG
14,15,AW00011014,Sydney Bennett,United States,52.0,2013-03-23,2013-04-30,2,138,6,5,150.0,151.0,0.0,69,51_60,low_active_customer,below_AVG
15,16,AW00011015,Chloe Young,United States,41.0,2013-01-18,2013-01-18,1,2501,3,3,153.0,153.0,16.0,2501,41_50,low_active_customer,high_spender
16,17,AW00011016,Wyatt Hill,United States,41.0,2013-02-09,2013-02-09,1,2332,3,3,152.0,152.0,15.0,2332,41_50,low_active_customer,high_spender
17,18,AW00011017,Shannon Wang,Australia,76.0,2011-01-12,2013-10-14,3,6434,4,4,144.0,177.0,36.0,2144,above_60,low_active_customer,high_spender
18,19,AW00011018,Clarence Rai,Australia,70.0,2011-01-17,2013-10-24,3,6533,7,7,144.0,177.0,36.0,2177,above_60,low_active_customer,high_spender
19,20,AW00011019,Luke Lal,Canada,42.0,2013-02-12,2014-01-12,17,880,33,20,141.0,152.0,5.0,51,41_50,low_active_customer,below_AVG
20,21,AW00011020,Jordan King,Canada,41.0,2012-12-29,2012-12-29,1,2317,2,2,154.0,154.0,15.0,2317,41_50,low_active_customer,high_spender
21,22,AW00011021,Destiny Wilson,United States,41.0,2013-01-23,2013-01-23,1,2372,3,3,153.0,153.0,15.0,2372,41_50,low_active_customer,high_spender
22,23,AW00011022,Ethan Zhang,United States,41.0,2013-01-20,2013-01-20,1,2322,2,2,153.0,153.0,15.0,2322,41_50,low_active_customer,high_spender
23,24,AW00011023,Seth Edwards,United States,41.0,2013-02-17,2014-01-14,2,122,6,6,141.0,152.0,0.0,61,41_50,low_active_customer,below_AVG
24,25,AW00011024,Russell Xie,United States,41.0,2013-06-27,2013-07-26,2,56,6,5,147.0,148.0,0.0,28,41_50,low_active_customer,below_AVG
25,26,AW00011025,Alejandro Beck,Australia,74.0,2011-01-06,2013-10-25,3,6577,6,6,144.0,177.0,37.0,2192,above_60,low_active_customer,high_spender
26,27,AW00011026,Harold Sai,Australia,74.0,2011-01-23,2013-10-15,3,6575,7,7,144.0,177.0,37.0,2191,above_60,low_active_customer,high_spender
27,28,AW00011027,Jessie Zhao,Australia,73.0,2011-01-16,2013-10-24,3,6591,9,9,144.0,177.0,37.0,2197,above_60,low_active_customer,high_spender
28,29,AW00011028,Jill Jimenez,Australia,74.0,2011-01-26,2013-10-07,3,6474,5,5,144.0,177.0,36.0,2158,above_60,low_active_customer,high_spender
29,30,AW00011029,Jimmy Moreno,Australia,73.0,2011-01-19,2013-11-11,3,6565,7,7,143.0,177.0,37.0,2188,above_60,low_active_customer,high_spender
30,31,AW00011030,Bethany Yuan,Australia,67.0,2011-02-05,2013-11-09,3,6471,4,4,143.0,176.0,36.0,2157,above_60,low_active_customer,high_spender
31,32,AW00011031,Theresa Ramos,Australia,72.0,2011-02-01,2013-11-13,3,6478,6,6,143.0,176.0,36.0,2159,above_60,low_active_customer,high_spender
32,33,AW00011032,Denise Stone,Australia,73.0,2011-02-18,2013-11-08,3,6525,10,10,143.0,176.0,37.0,2175,above_60,low_active_customer,high_spender
33,34,AW00011033,Jaime Nath,Australia,67.0,2011-02-15,2013-11-05,3,6495,7,7,143.0,176.0,36.0,2165,above_60,low_active_customer,high_spender
34,35,AW00011034,Ebony Gonzalez,Australia,73.0,2011-02-01,2013-11-10,3,6491,4,4,143.0,176.0,36.0,2163,above_60,low_active_customer,high_spender
35,36,AW00011035,Wendy Dominguez,Australia,72.0,2011-02-06,2013-11-15,3,6451,5,5,143.0,176.0,36.0,2150,above_60,low_active_customer,high_spender
36,37,AW00011036,Jennifer Russell,United States,41.0,2013-01-22,2013-01-22,1,2355,2,2,153.0,153.0,15.0,2355,41_50,low_active_customer,high_spender
37,38,AW00011037,Chloe Garcia,Canada,42.0,2013-01-20,2013-01-20,1,2374,7,7,153.0,153.0,15.0,2374,41_50,low_active_customer,high_spender
38,39,AW00011038,Diana Hernandez,Australia,72.0,2011-02-07,2013-11-12,3,6437,3,3,143.0,176.0,36.0,2145,above_60,low_active_customer,high_spender
39,40,AW00011039,Marc Martin,Australia,71.0,2011-02-07,2013-11-11,3,6636,9,8,143.0,176.0,37.0,2212,above_60,low_active_customer,high_spender
40,41,AW00011040,Jesse Murphy,United States,42.0,2013-04-03,2013-04-03,1,2351,3,3,150.0,150.0,15.0,2351,41_50,low_active_customer,high_spender
41,42,AW00011041,Amanda Carter,United States,42.0,2013-01-14,2013-01-14,1,2381,3,3,153.0,153.0,15.0,2381,41_50,low_active_customer,high_spender
42,43,AW00011042,Megan Sanchez,United States,43.0,2013-01-21,2013-10-17,2,3112,3,3,144.0,153.0,20.0,1556,41_50,low_active_customer,high_spender
43,44,AW00011043,Nathan Simmons,United States,44.0,2013-05-08,2013-08-18,2,48,3,3,146.0,149.0,0.0,24,41_50,low_active_customer,below_AVG
44,45,AW00011044,Adam Flores,Australia,71.0,2011-02-28,2013-11-08,3,6515,7,7,143.0,176.0,37.0,2171,above_60,low_active_customer,high_spender
45,46,AW00011045,Leonard Nara,Australia,70.0,2013-04-10,2013-10-29,2,115,4,4,144.0,150.0,0.0,57,above_60,low_active_customer,below_AVG
46,47,AW00011046,Christine Yuan,Australia,70.0,2011-02-06,2013-11-12,3,6616,6,6,143.0,176.0,37.0,2205,above_60,low_active_customer,high_spender
47,48,AW00011047,Jaclyn Lu,Australia,70.0,2011-02-03,2013-11-19,3,6582,4,4,143.0,176.0,37.0,2194,above_60,low_active_customer,high_spender
48,49,AW00011048,Jeremy Powell,Australia,69.0,2011-02-10,2013-12-25,3,6498,8,8,142.0,176.0,36.0,2166,above_60,low_active_customer,high_spender
49,50,AW00011049,Carol Rai,United States,39.0,2013-03-09,2013-10-29,2,81,5,5,144.0,151.0,0.0,40,31_40,low_active_customer,below_AVG